:root {
    --accent: #e7e7e7;
    --right: #53b548;
    --almost: #cab854;
    --wrong: rgb(100, 100, 100);
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 32px;
    margin-bottom: 16px;
}

.game {
    display: grid;
    margin: 20px auto;
    width: max-content;
    align-items: center;
    vertical-align: middle;
    gap: 5%;
    grid-template-columns: repeat(2, 450px);
    .board {
        display: grid;
        tr {
            display: grid;
            grid-template-columns: repeat(7, 64px);
        }
        td {
            gap: 0px;
            border: 1px solid black;
            padding: 0;
        }
        .number {
            vertical-align: super;
            grid-row: 1;
            margin-bottom: 5%;
        }
        .letter {
            width: 89%;
            text-align: center;
            text-transform: uppercase;
            border: 0px;
            grid-row: 2;
            grid-column: 1 / span 1;
            font-size: xx-large;
            font-weight: bold;
            background-color: inherit;
            margin: 0;
            border: 0;
            padding: 0;
        }
        .letter:focus {
            caret-color: var(--accent);
            outline: none;
            box-shadow: 0px;
        }
        .correct {
            background-color: var(--right);
            caret-color: var(--right);
            color: white;
        }
        .almost {
            background-color: var(--almost);
            caret-color: var(--almost);
            color: white;
        }
        .wrong {
            background-color: var(--wrong);
            caret-color: var(--wrong);
            color: white;
        }
    }
    #crossword {
        gap: 0px;
        margin: 20px auto;
        height: max-content;
        width: max-content;
        border: 1px solid black;
        tr {}
        td {
            display: grid;
            grid-template-columns: repeat(2, 25px);
        }
        .letter {
            width: 248%;
        }
    }
    #wordle {
        gap: 8px;
        tr {
            gap: 8px;
        }
        td {
            height: 50px;
            border: 0px;
            margin-top: 2.5px;
            margin-bottom: 2.5px;
            vertical-align: middle;
        }
        .letter {
            vertical-align: middle;
            align-content: center;
            height: 110%;
            width: 100%;
            border: 3px solid var(--accent);
        }
        .correct {
            border-color: var(--right);
        }
        .almost {
            border-color: var(--almost);
        }
        .wrong {
            border-color: var(--wrong);
        }
    }
}

::selection {
    color: white;
    background: color-mix(in srgb, var(--accent), #000000 35%);
}

:disabled {
    color: black;
}

#refresh {
    height: 40px;
    width:120px;
    font-size: 15px;
    vertical-align: middle;
    align-items: center;
}